.button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 135px;
	height: 42px;
	padding: 8px 30px;

	font: var(--font-p2);
	color: #fff;
	text-align: center;

	background: #312eb5;
	border: none;
	border-radius: 6px;

	transition: background 0.25s;
	transition: box-shadow 0.1s;
}

.button:hover {
	background: #1a1877;
}

.button:active {
	box-shadow: inset 0 0 4px #bdb1b1;
}
