@import url('_fonts.css');

:root {
	--font-family: 'Inter', sans-serif;
	--background-primary: #181818;
	--background-secondary: #ffffff08;
	--background-tertiary: #ffffff1a;
	--text-primary: #fff;
	--text-secondary: #fff9;
	--text-tertiary: #fff6;
	--font-h1: 600 32px var(--font-family);
	--font-h2: 600 18px / 1.5 var(--font-family);
	--font-p1: 600 16px / 1.75 var(--font-family);
	--font-p2: 400 16px / 1.75 var(--font-family);
	--font-p3: 600 14px / 1.5 var(--font-family);
	--font-p4: 400 14px / 1.5 var(--font-family);
	--s-1: 4px;
	--s-2: 8px;
	--s-3: 12px;
	--s-4: 16px;
	--s-5: 24px;
	--s-6: 32px;
	--s-7: 48px;

	font-family: var(--font-family);
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	color: #fff;
	text-rendering: optimizelegibility;

	color-scheme: light dark;
	background: var(--background-primary);

	font-synthesis: none;
}

* {
	margin: 0;
	padding: 0;
}
